[submodule "lib/example-liquidity-layer"]
    path = lib/example-liquidity-layer
    url = https://github.com/wormhole-foundation/example-liquidity-layer.git
    rev = a1763da8aa395c25753a0a5e9781662eb3724e6c
