[submodule "lib/example-liquidity-layer"]
    path = lib/example-liquidity-layer
    url = https://github.com/wormhole-foundation/example-liquidity-layer.git
    rev = 63f2b423026ac1ad8b099bc3ecd44ba4fc64aae2
